<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Placar para partidas de vôlei">
    <meta name="author" content="Leandro Adrian da Silva">

    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="./logo.ico">

    <title>Placar para vôlei</title>
</head>

<body>
    <div class="container">
        <main id="app">
            <section v-if="currentPage == 0">
                <form class="card" @submit.prevent>
                    <img src="./assets/images/logo.webp" alt="Logo do website" class="logo" width="64" height="64">
                    <div class="hints_content">
                        <p>Dicas:</p>
                        <ul>
                            <li>Clique no nome do time para alterá-lo.</li>
                            <li>Utilize o modo paisagem no celular.</li>
                        </ul>
                    </div>
                    <div class="form_group">
                        <p>Quantidade de sets:</p>
                        <div class="set_quantity_choices">
                            <button type="button" @click="changeSetQuantity(3)" :class="{ active: setQuantity == 3 }">3</button>
                            <button type="button" @click="changeSetQuantity(5)" :class="{ active: setQuantity == 5 }">5</button>
                        </div>
                    </div>
                    <button type="button" @click="nextPage">Acessar placar</button>
                </form>
            </section>

            <section v-if="currentPage == 1">
                <h3 data-set-display>{{ currentSet }}° de {{ setQuantity }} sets</h3>
                <h4 data-set-message>{{ setMessage }}</h4>
                <div class="scoreboards_container">
                    <div v-for="(scoreboard, index) in scoreboards" :key="index" class="scoreboard card">
                        <div class="scoreboard_header">
                            <h3 contenteditable="true" @keydown="handleEnterKeyPress">{{ scoreboard.name }}</h3>
                            <span>{{ scoreboard.setPoints }}</span>
                        </div>
                        <p>{{ scoreboard.points }}</p>
                        <div class="scoreboard_buttons">
                            <button type="button" @click="decreasePoints(index)" class="btn_decrease">-</button>
                            <button type="button" @click="increasePoints(index)" class="btn_increase">+</button>
                        </div>
                    </div>
                </div>
                <button type="button" @click="resetScoreboards" data-reset-btn>Voltar para o início</button>
            </section>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>