@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200..700&display=swap');

:root {
    --color-primary-100: #954b0e;
    --color-primary-500: #ef964e;
    --color-primary-600: #f3b27c;
    --color-danger: #d1401f;
    --color-success: #389730;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select,
button {
    font: inherit;
    outline: none;
    border: none;
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0.5rem #00000026;
}

select {
    background-color: var(--color-primary-600);
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    filter: brightness(90%);
}

body {
    font-family: 'Roboto', system-ui, sans-serif;
    background: url("../images/wallpaper.webp") no-repeat fixed;
    background-size: cover;
    user-select: none;
}

.card {
    box-shadow: 0 1rem 3rem #0000002d;
    border: 2px solid var(--color-primary-100);
    background-color: var(--color-primary-500);
    border-radius: 3px;
    padding: 1rem;
}