$bg: hsl(27, 83%, 62%);
$bg-dark: darken($bg, 30%);
$bg-light: lighten($bg, 10%);

$font-1: #eee;
$font-2: #171c1b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select,
button {
    font: inherit;
    outline: none;
    border: none;

    padding: .5rem;
    border-radius: 3px;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 0.15);
}

select {
    background-color: $bg-light;
}

button {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        filter: brightness(85%);
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: url(../images/wallpaper.webp) no-repeat fixed, $bg;
    background-size: cover;
}

.container {
    width: calc(100% - 1rem);
    max-width: 1080px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid $bg-dark;
    background-color: $bg;
    border-radius: 3px;
    padding: 1rem;
}

.logo {
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;

    section {
        display: none;
        place-items: center;
        pointer-events: none;
        width: 100%;

        &.active {
            display: grid;
            pointer-events: initial;
        }
    }
}

form {
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    color: $font-2;

    .form_group {
        display: grid;
        gap: .3rem;
    }

    button {
        background-color: $bg-dark;
        color: $font-1;
    }

    .set_quantity_choices {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .set_quantity_choices {
        label {
            flex: 1;
            display: grid;
            padding: 1rem;
            place-items: center;
            background: $bg-light;
            border-radius: 3px;
            border: 1px solid transparent;
            transition: all .3s ease-in-out;
            cursor: pointer;
        }

        input:checked+label {
            border-color: $bg-dark;
            filter: brightness(85%);
        }
    }
}

.hints_content {
    font-size: .8rem;
    border-top: 1px solid $bg-dark;
    border-bottom: 1px solid $bg-dark;
    padding: 1rem 0;
    margin-top: -1rem;

    ul {
        margin-top: .25rem;
        list-style-type: none;

        li::before {
            content: "• ";
        }
    }
}

[data-set-display] {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid $bg-dark;
    background-color: $bg-light;
    border-radius: 3px;
    padding: .3rem 1.6rem;
    font-size: 2rem;
    font-weight: 500;
}

[data-set-message] {
    text-transform: uppercase;
    color: $font-1;
    margin-top: 1rem;
}

.scoreboards_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: inherit;
    gap: 1rem;

    .scoreboard {
        display: grid;
        width: 100%;
        max-width: 300px;
        place-items: center;
        aspect-ratio: 1;

        h3 {
            font-size: 2.2rem;
            font-weight: 600;
        }

        .scoreboard_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        .scoreboard_header span {
            background-color: $bg-light;
            border-radius: 3px;
            font-size: 1.3rem;
            display: grid;
            place-items: center;
            width: 2.25rem;
            aspect-ratio: 1;

            cursor: default;
            user-select: none;
            -webkit-user-select: none;
        }

        p {
            background-color: $bg-light;
            border-radius: 6px;
            text-align: center;
            font-size: 3.6rem;
            padding: .6rem;
            width: 100%;

            cursor: default;
            user-select: none;
            -webkit-user-select: none;
        }

        .scoreboard_buttons {
            display: flex;
            width: 100%;
            gap: 0.6rem;

            button {
                flex: 1;
                padding: 1rem 2rem;
                color: $font-1;
                font-size: 1.8rem;

                &.btn_increase {
                    background-color: hsl(115, 52%, 39%);
                }

                &.btn_decrease {
                    background-color: hsl(11, 74%, 47%);
                }
            }
        }
    }
}

[data-reset-btn] {
    display: none;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid $bg-dark;
    background-color: $bg-light;
    border-radius: 3px;
    padding: .4rem 1.6rem;
    margin-top: 2rem;

    &.active {
        display: initial;
    }
}

@media (max-width: 768px) {
    body {
        background: $bg;
    }

    .scoreboard {
        gap: 1rem;
    }

    section:last-of-type {
        padding: 3rem 0;
    }

    .scoreboard p {
        font-size: 2.8rem;
    }

    .scoreboard button {
        padding: .6rem 1rem;
    }
}