@font-face {
    font-family: 'digital';
    src: url('digital.ttf');
}

:root {
    --bg-1: hsl(27, 83%, 30%);
    --bg-2: hsl(27, 83%, 62%);
    --bg-3: hsl(27, 83%, 80%);

    --font: #eee;
    --font-2: #171c1b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select,
button {
    font: inherit;
    outline: none;
    border: none;

    padding: .5rem;
    border-radius: 3px;
    box-shadow: 0 0 .5rem rgb(0 0 0 / 0.15);
}

select {
    background-color: var(--bg-3);
}

button {
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    filter: brightness(96%);
}

html,
body {
    font-family: sans-serif;
    background: url(./wallpaper.png) no-repeat fixed, var(--bg-2);
    background-size: cover;
}

.container {
    width: calc(100% - 1rem);
    max-width: 1080px;
    margin: 0 auto;
}

.card {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid var(--bg-1);
    background-color: var(--bg-2);
    border-radius: 3px;
    padding: 1rem;
}

.logo {
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1rem;
}

main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
}

section {
    display: none;
    place-items: center;
    pointer-events: none;
    width: inherit;
}

section.active {
    pointer-events: initial;
    display: grid;
}

form {
    color: var(--font-2);

    width: 100%;
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

form .form_group {
    display: grid;
    gap: .3rem;
}

form button {
    background-color: var(--bg-1);
    color: var(--font);
}

.set_display {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid var(--bg-1);
    background-color: var(--bg-3);
    border-radius: 3px;
    padding: .3rem 1.6rem;
    font-size: 2rem;
}

#set_message {
    text-transform: uppercase;
    color: var(--font);
}

.counters_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: inherit;
    gap: 1rem;
}

.counter {
    display: grid;
    width: 100%;
    max-width: 300px;
    place-items: center;
    aspect-ratio: 1;
}

.counter h3 {
    font-size: 2.2rem;
}

.counter p {
    font-family: 'digital';
    background-color: var(--bg-3);
    border-radius: 6px;
    font-size: 3.6rem;
    padding: .6rem;
    width: 100%;
    text-align: center;
}

.counter .counter_buttons {
    display: flex;
    width: 100%;
    gap: 0.6rem;
}

.counter button {
    flex: 1;
    padding: 1rem 2rem;
    color: var(--font);
    font-size: 1.8rem;
}

button.btn_increase {
    background-color: hsl(115, 52%, 39%);
}

button.btn_decrease {
    background-color: hsl(11, 74%, 47%);
}

.team_pontuation {
    font-family: 'digital';
    font-size: 2.6rem;
    display: grid;
    place-items: center;
    width: 4rem;
    padding: .6rem;
    aspect-ratio: 1;
}

[data-reset-btn] {
    display: none;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 0.175);
    border: 2px solid var(--bg-1);
    background-color: var(--bg-3);
    border-radius: 3px;
    padding: .4rem 1.6rem;
    margin-top: 2rem;
}

[data-reset-btn].active {
    display: initial;
}

@media (max-width: 768px) {
    body {
        background: var(--bg-2);
    }

    .set_display {
        margin-top: 3rem;
    }

    .counter:last-of-type {
        order: 3;
    }

    .team_pontuation:last-of-type {
        order: 4;
    }

    .counter,
    .team_pontuation {
        aspect-ratio: initial;
    }

    .counter {
        gap: 1rem;
    }

    [data-step]:last-of-type {
        padding-bottom: 2rem;
    }
}